// #0f172a, #94a0b1

.bg__gradient{
    min-height: 100vh;
    height: 100%;
    background-image: linear-gradient(to bottom right, #96fffc,#d680f0, #dda8ed, #f5a7f5, rgb(255, 213, 136));
}

.glass__blur{
    background: rgba(255,255,255, .5);
    backdrop-filter: blur(5px);
    min-width: 280px;
}
.page__wrapper{
    flex: 1;
    background-color: #fff;
}
.b__radius{
    border-radius: 18px;
}
a{
    text-decoration: none;
}
a.link, span.link{
    font-size:.8125rem!important;
    &:hover{
        text-decoration: underline;
        color: #1DA57A;
    }
}
span.link{
    cursor: pointer;
}

.shadow__sm {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}
.bg__white{
    background-color: #fff;
}
.bg__lighten__green{
    background-color: #f0fdf4;
    // background-color: #f8fafc;
}

a.navigation__link{
    color: #1da57a;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsla(0,0%,100%,.4);
    height: 38px;
    width: 45px;
    font-size: 22px;
    border-radius: 80px;
    transition: background-color .4s,box-shadow .4s;
    cursor: pointer;
}
a.active {
    background-color: #fafafa;
    @extend .shadow__sm;
}
