.d__flex{
    display: flex;
}
.flex__row{
    flex-direction: row;
}
.flex__column{
    flex-direction: column;
}
.align__item__center{
    align-items: center;
}
.justify__content__center{
    justify-content: center;
}
.justify__content__between{
    justify-content: space-between;
}
.justify__content__around{
    justify-content: space-around;
}

.bg__gredient{
    min-height: 100vh;
    height: 100%;
    background-image: linear-gradient(to bottom right, #96fffc,#d680f0, #dda8ed, #f5a7f5, rgb(255, 213, 136));
}

.glass__blur{
    background: rgba(255,255,255, .5);
    backdrop-filter: blur(5px);
    min-width: 300px;
}

.c__radius{
    border-radius: 18px;
}

a.link, span.link{
    font-size:.8125rem!important;
    &:hover{
        text-decoration: underline;
    }
}
span.link{
    color: @primary-color;
    cursor: pointer;
}

.p__16{
    padding: 1rem;
}
.m__0{
    margin: 0 !important;
}
.mb__16{
    margin-bottom: 1rem;
}
.mt__16{
    margin-top: 1rem;
}
.mb__8{
    margin-bottom: .5rem;
}
.h__100{
    height: 100%;
}
.w__100{
    width: 100%;
}

.shadow__sm {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}
.bg__white{
    background-color: #fff;
}
.bg__lighten__green{
    background-color: #f0fdf4;
    // background-color: #f8fafc;
}
.row__gap{
    gap: 1rem;
}

.content__top__radius{
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    overflow: hidden;
}
.content__bottom__radius{
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    overflow: hidden;
}
.bottom__footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    height: 64px;
}
.pages__header{
    padding: 1rem !important;
    border-bottom: 1px solid #e2e8f0;
    display: flex;
    align-items: center;
    height: 55px;
    background-color: #f8fafc;
    .ant-page-header-heading-title{
        font-size: 20px !important;
    }
}