.d__flex{
    display: flex;
}
.flex__row{
    flex-direction: row;
}
.flex__column{
    flex-direction: column;
}
.align__item__center{
    align-items: center;
}
.justify__content__center{
    justify-content: center;
}
.justify__content__between{
    justify-content: space-between;
}

.bg__gredient{
    height: 100vh;
    background-image: linear-gradient(to bottom right, #96fffc, #dda8ed, #ffbcee, #fdec8e, #daff94);
}

.glass__blur{
    background: rgba(255,255,255, .5);
    backdrop-filter: blur(5px);
    border-radius: 18px;
    min-width: 300px;
    padding: 1rem;
}

a.link{
    font-size:.8125rem!important;
    &:hover{
        text-decoration: underline;
    }
}

.p__16{
    padding: 1rem;
}