.sidebar {
    ul {
        margin-top: 2rem;
        padding: 0;

        li {
            list-style: none;
            padding: 0.5rem 0.8rem;
            margin-bottom: 0.5rem;
            border-radius: 40px 0 0 40px;
            position: relative;

            &.active {
                background-color: #fafafa;

                &::after {
                    content: '';
                    position: absolute;
                    right: 0;
                    top: -50px;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    background-color: transparent;
                    box-shadow: 35px 35px 0 10px #fafafa;
                    pointer-events: none;
                }

                &::before {
                    content: '';
                    position: absolute;
                    right: 0;
                    bottom: -50px;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    background-color: transparent;
                    box-shadow: 35px -35px 0 10px #fafafa;
                    pointer-events: none;

                }
            }

            a {
                display: flex;
                color: @heading-color;
                font-weight: 500;
                flex-direction: column;
                align-items: center;
            }
        }
    }
}

.mobile__sidebar {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    overflow: hidden !important;

    .draggable{
        background: transparent;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        padding: 1rem 1rem 1rem 0;
        overflow: hidden;
        width: 200px;
        .handler{
            height: 140px;
            width: 10px;
            border-radius: 18px;
            background: rgba(255,255,255, .6);
            backdrop-filter: blur(5px);
            cursor: grab;
            touch-action: none;
            z-index: 99999;
        }
        .mobile__sidebar__content{
            height: 90%;
            background: rgba(255,255,255, .6);
            backdrop-filter: blur(5px);
            border-radius: 18px;
            width: 140px;
        }
    }
}