*{
    font-family: 'Raleway', sans-serif;
}

body{
    font-family: "Raleway", "Roboto","Helvetica","Arial",sans-serif !important;
    overflow: hidden;
}

/* CSS DEPENDENCIES */
@import 'simplebar/dist/simplebar.min.css';
@import './styles/utilities';